In [1]:
import pandas as pd

In [2]:
url = 'https://www.espn.com/mens-college-basketball/team/stats/_/id/153'

In [4]:
tables = pd.read_html(url)
tables

[                 Name
 0     Armando Bacot F
 1   Garrison Brooks F
 2    Day'Ron Sharpe F
 3        Caleb Love G
 4        R.J. Davis G
 5       Leaky Black G
 6     Andrew Platek G
 7     Kerwin Walton G
 8    Walker Kessler F
 9     Walker Miller F
 10     Puff Johnson G
 11       K.J. Smith G
 12      Ryan McAdoo F
 13   Creighton Lebo G
 14      Duwe Farris F
 15              Total,
     GP   MIN   PTS   REB   AST  STL  BLK    TO   FG%    FT%   3P%
 0   11  22.6  11.0   7.6   0.3  0.4  0.8   1.8  64.6   69.8   0.0
 1   11  27.8  10.2   7.7   1.3  0.6  1.0   1.6  44.4   56.4  66.7
 2   11  19.9   9.8   8.3   1.5  1.2  1.0   2.0  50.0   60.5   0.0
 3   11  28.1   9.5   2.3   3.5  0.9  0.5   3.4  27.6   84.4  17.8
 4   11  26.8   8.3   2.7   2.4  0.2  0.0   2.3  32.3   73.1  28.6
 5   11  29.8   7.7   6.4   1.9  1.4  0.5   1.5  40.3   66.7  36.8
 6   11  15.9   5.9   2.1   0.7  0.7  0.2   1.2  42.6   80.0  35.5
 7   11  14.5   5.1   1.2   2.0  0.4  0.1   1.0  48.6   87.5  48.4
 8   11   7.5   2.9   2.5   0.0  0.5  0.5   0.7  54.5   44.4   0.0
 9    2   3.5   2.0   0.5   0.0  0.0  0.0   0.0  33.3  100.0   0.0
 10  11   4.6   1.4   0.6   0.1  0.1  0.1   0.1  50.0  100.0  14.3
 11   4   2.0   0.3   0.5   0.0  0.0  0.0   0.0   0.0   50.0   0.0
 12   3   1.7   0.0   0.0   0.0  0.0  0.0   0.3   0.0    0.0   0.0
 13   3   1.0   0.0   0.3   0.0  0.0  0.0   0.0   0.0    0.0   0.0
 14   2   1.5   0.0   0.5   0.0  0.0  0.0   0.0   0.0    0.0   0.0
 15  11   NaN  72.3  44.9  13.5  6.3  4.6  15.9  41.9   67.6  30.4,
                  Name
 0     Armando Bacot F
 1   Garrison Brooks F
 2    Day'Ron Sharpe F
 3        Caleb Love G
 4        R.J. Davis G
 5       Leaky Black G
 6     Andrew Platek G
 7     Kerwin Walton G
 8    Walker Kessler F
 9     Walker Miller F
 10     Puff Johnson G
 11       K.J. Smith G
 12      Ryan McAdoo F
 13   Creighton Lebo G
 14      Duwe Farris F
 15              Total,
       MIN  FGM  FGA  FTM  FTA  3PM  3PA  PTS   OR   DR  REB  AST   TO  STL  \
 0   249.0   42   65   37   53    0    0  121   34   50   84    3   20    4
 1   306.0   44   99   22   39    2    3  112   33   52   85   14   18    7
 2   219.0   41   82   26   43    0    2  108   42   49   91   16   22   13
 3   309.0   35  127   27   32    8   45  105    4   21   25   38   37   10
 4   295.0   30   93   19   26   12   42   91    6   24   30   26   25    2
 5   328.0   31   77   16   24    7   19   85   17   53   70   21   16   15
 6   175.0   23   54    8   10   11   31   65    7   16   23    8   13    8
 7   159.0   17   35    7    8   15   31   56    3   10   13   22   11    4
 8    83.0   12   22    8   18    0    2   32   12   15   27    0    8    5
 9     7.0    1    3    2    2    0    0    4    1    0    1    0    0    0
 10   51.0    6   12    2    2    1    7   15    1    6    7    1    1    1
 11    8.0    0    1    1    2    0    0    1    0    2    2    0    0    0
 12    5.0    0    2    0    0    0    1    0    0    0    0    0    1    0
 13    3.0    0    1    0    0    0    1    0    0    1    1    0    0    0
 14    3.0    0    0    0    0    0    0    0    0    1    1    0    0    0
 15    NaN  282  673  175  259   56  184  795  176  318  494  149  175   69

     BLK
 0     9
 1    11
 2    11
 3     5
 4     0
 5     5
 6     2
 7     1
 8     6
 9     0
 10    1
 11    0
 12    0
 13    0
 14    0
 15   51  ]

In [5]:
type(tables)

list

In [114]:
stat_totals = tables[3]
stat_totals.columns = ['MIN', 'FGM', 'FGA', 'FTM', 'FTA', '3PM', '3PA', 'PTS', 'OR', 'DR', 'REB', 'AST', 'TO', 'STL', 'BLK']
stat_totals

,MIN,FGM,FGA,FTM,FTA,3PM,3PA,PTS,OR,DR,REB,AST,TO,STL,BLK
MIN,,,,,,,,,,,,,,,
249.0,42,65,37,53,0,0,121,34,50,84,3,20,4,9,1
306.0,44,99,22,39,2,3,112,33,52,85,14,18,7,11,1
219.0,41,82,26,43,0,2,108,42,49,91,16,22,13,11,1
309.0,35,127,27,32,8,45,105,4,21,25,38,37,10,5,1
295.0,30,93,19,26,12,42,91,6,24,30,26,25,2,0,1
328.0,31,77,16,24,7,19,85,17,53,70,21,16,15,5,1
175.0,23,54,8,10,11,31,65,7,16,23,8,13,8,2,1
159.0,17,35,7,8,15,31,56,3,10,13,22,11,4,1,1
83.0,12,22,8,18,0,2,32,12,15,27,0,8,5,6,1
7.0,1,3,2,2,0,0,4,1,0,1,0,0,0,0,1
51.0,6,12,2,2,1,7,15,1,6,7,1,1,1,1,1
8.0,0,1,1,2,0,0,1,0,2,2,0,0,0,0,1
5.0,0,2,0,0,0,1,0,0,0,0,0,1,0,0,1
3.0,0,1,0,0,0,1,0,0,1,1,0,0,0,0,1
3.0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,1
NaN,282,673,175,259,56,184,795,176,318,494,149,175,69,51,1

In [77]:
stat_avgs = tables[1]
stat_avgs.columns = ['GP', 'MIN', 'PTS', 'REB', 'AST', 'STL', 'BLK', 'TO', 'FG%', 'FT%', '3P%']
stat_avgs

    GP   MIN   PTS   REB   AST  STL  BLK    TO   FG%    FT%   3P%
0   11  22.6  11.0   7.6   0.3  0.4  0.8   1.8  64.6   69.8   0.0
1   11  27.8  10.2   7.7   1.3  0.6  1.0   1.6  44.4   56.4  66.7
2   11  19.9   9.8   8.3   1.5  1.2  1.0   2.0  50.0   60.5   0.0
3   11  28.1   9.5   2.3   3.5  0.9  0.5   3.4  27.6   84.4  17.8
4   11  26.8   8.3   2.7   2.4  0.2  0.0   2.3  32.3   73.1  28.6
5   11  29.8   7.7   6.4   1.9  1.4  0.5   1.5  40.3   66.7  36.8
6   11  15.9   5.9   2.1   0.7  0.7  0.2   1.2  42.6   80.0  35.5
7   11  14.5   5.1   1.2   2.0  0.4  0.1   1.0  48.6   87.5  48.4
8   11   7.5   2.9   2.5   0.0  0.5  0.5   0.7  54.5   44.4   0.0
9    2   3.5   2.0   0.5   0.0  0.0  0.0   0.0  33.3  100.0   0.0
10  11   4.6   1.4   0.6   0.1  0.1  0.1   0.1  50.0  100.0  14.3
11   4   2.0   0.3   0.5   0.0  0.0  0.0   0.0   0.0   50.0   0.0
12   3   1.7   0.0   0.0   0.0  0.0  0.0   0.3   0.0    0.0   0.0
13   3   1.0   0.0   0.3   0.0  0.0  0.0   0.0   0.0    0.0   0.0
14   2   1.5   0.0   0.5   0.0  0.0  0.0   0.0   0.0    0.0   0.0
15  11   NaN  72.3  44.9  13.5  6.3  4.6  15.9  41.9   67.6  30.4

In [17]:
player_names = tables[0]
player_names.head()

                Name
0    Armando Bacot F
1  Garrison Brooks F
2   Day'Ron Sharpe F
3       Caleb Love G
4       R.J. Davis G

In [85]:
player_avgs = pd.concat([player_names, stat_avgs], axis=1)
player_avgs

,Name,tmp,GP,MIN,PTS,REB,AST,STL,BLK,TO,FG%,FT%,3P%
0,Armando Bacot F,1,11,22.6,11.0,7.6,0.3,0.4,0.8,1.8,64.6,69.8,0.0
1,Garrison Brooks F,1,11,27.8,10.2,7.7,1.3,0.6,1.0,1.6,44.4,56.4,66.7
2,Day'Ron Sharpe F,1,11,19.9,9.8,8.3,1.5,1.2,1.0,2.0,50.0,60.5,0.0
3,Caleb Love G,1,11,28.1,9.5,2.3,3.5,0.9,0.5,3.4,27.6,84.4,17.8
4,R.J. Davis G,1,11,26.8,8.3,2.7,2.4,0.2,0.0,2.3,32.3,73.1,28.6
5,Leaky Black G,1,11,29.8,7.7,6.4,1.9,1.4,0.5,1.5,40.3,66.7,36.8
6,Andrew Platek G,1,11,15.9,5.9,2.1,0.7,0.7,0.2,1.2,42.6,80.0,35.5
7,Kerwin Walton G,1,11,14.5,5.1,1.2,2.0,0.4,0.1,1.0,48.6,87.5,48.4
8,Walker Kessler F,1,11,7.5,2.9,2.5,0.0,0.5,0.5,0.7,54.5,44.4,0.0
9,Walker Miller F,1,2,3.5,2.0,0.5,0.0,0.0,0.0,0.0,33.3,100.0,0.0
10,Puff Johnson G,1,11,4.6,1.4,0.6,0.1,0.1,0.1,0.1,50.0,100.0,14.3
11,K.J. Smith G,1,4,2.0,0.3,0.5,0.0,0.0,0.0,0.0,0.0,50.0,0.0
12,Ryan McAdoo F,1,3,1.7,0.0,0.0,0.0,0.0,0.0,0.3,0.0,0.0,0.0
13,Creighton Lebo G,1,3,1.0,0.0,0.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,Duwe Farris F,1,2,1.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,Total,1,11,NaN,72.3,44.9,13.5,6.3,4.6,15.9,41.9,67.6,30.4

In [89]:
player_avgs_clean = player_avgs.drop(columns=['tmp'])
player_avgs_clean

,Name,GP,MIN,PTS,REB,AST,STL,BLK,TO,FG%,FT%,3P%
0,Armando Bacot F,11,22.6,11.0,7.6,0.3,0.4,0.8,1.8,64.6,69.8,0.0
1,Garrison Brooks F,11,27.8,10.2,7.7,1.3,0.6,1.0,1.6,44.4,56.4,66.7
2,Day'Ron Sharpe F,11,19.9,9.8,8.3,1.5,1.2,1.0,2.0,50.0,60.5,0.0
3,Caleb Love G,11,28.1,9.5,2.3,3.5,0.9,0.5,3.4,27.6,84.4,17.8
4,R.J. Davis G,11,26.8,8.3,2.7,2.4,0.2,0.0,2.3,32.3,73.1,28.6
5,Leaky Black G,11,29.8,7.7,6.4,1.9,1.4,0.5,1.5,40.3,66.7,36.8
6,Andrew Platek G,11,15.9,5.9,2.1,0.7,0.7,0.2,1.2,42.6,80.0,35.5
7,Kerwin Walton G,11,14.5,5.1,1.2,2.0,0.4,0.1,1.0,48.6,87.5,48.4
8,Walker Kessler F,11,7.5,2.9,2.5,0.0,0.5,0.5,0.7,54.5,44.4,0.0
9,Walker Miller F,2,3.5,2.0,0.5,0.0,0.0,0.0,0.0,33.3,100.0,0.0
10,Puff Johnson G,11,4.6,1.4,0.6,0.1,0.1,0.1,0.1,50.0,100.0,14.3
11,K.J. Smith G,4,2.0,0.3,0.5,0.0,0.0,0.0,0.0,0.0,50.0,0.0
12,Ryan McAdoo F,3,1.7,0.0,0.0,0.0,0.0,0.0,0.3,0.0,0.0,0.0
13,Creighton Lebo G,3,1.0,0.0,0.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,Duwe Farris F,2,1.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,Total,11,NaN,72.3,44.9,13.5,6.3,4.6,15.9,41.9,67.6,30.4

In [ ]:
player_totals = pd.concat([player_names, ])